.login-container {
    width: 500px;
    margin: 100px auto;
    text-align: center;
  }
  
  .login-container h1 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .login-container form {
    border: 1px solid #eee;
    padding: 20px;
    border-radius: 5px;
  }
  
  .login-container .form-group {
    margin-bottom: 20px; 
  }
  
  .login-container .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .login-container .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
  }
  
  .login-container button {
    background: #04a4cc;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    width: 100%;
  }
  
  .login-container .option {
    margin-top: 20px;  
  } 
  
  .login-container .option a {
    color: #04a4cc; 
  }