{%load static%}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventario de dispositivos electrónicos</title>
	<link rel="stylesheet" href="{%static 'css/inico.css'%}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Inventario</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Acerca de nosotros</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Selecciones
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Selección 1</a></li>
                            <li><a class="dropdown-item" href="#">Selección 2</a></li>
                            <li><a class="dropdown-item" href="#">Selección 3</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div>
        <h5>introduzca el numero serial del dispositivo</h5>
        <input type="text">
        <input type="button" value="buscar">
    </div>

    <div>
        <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Número Serial</th>
                  <th>Marca</th>
                  <th>Categoría</th>
                  <th>Localización</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>001</td>
                  <td>Samsung</td>
                  <td>Teléfono</td>
                  <td>Oficina 1</td>
                </tr>
                <tr>
                  <td>002</td>
                  <td>Apple</td>
                  <td>Tablet</td>
                  <td>Oficina 2</td>
                </tr>
                <tr>
                  <td>003</td>
                  <td>HP</td>
                  <td>Laptop</td>
                  <td>Oficina 3</td>
                </tr>
                <!-- Agrega más filas aquí -->
              </tbody>
            </table>
          </div>
    </div>